/* general-input-giro-negocio.component.scss */
.giro-input-container {
  position: relative;

  .form-control {
    width: 100%;
  }

  .suggestions {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background: white;
    border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0.5rem;
      cursor: pointer;
      @media(max-width:767px){
      font-size: 6px !important;
      padding: 2px !important;
      }
      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }
  }
}
