.input-general-container {
    position: relative;
    width: 100%;
    height: 100%;
    @media (max-width: 767px) {
      margin: 0 auto;
      max-height: 250px;
      max-width: 200px;
    }
  }
  
  .input-file-container {
    position: relative;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.2s;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: 767px) {
      padding: 10px;
    }
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .overlay-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
  }
  
  .overlay-buttons button {
    background-color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .overlay-buttons button:hover {
    opacity: 1;
  }
  
  .crop-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    opacity: 1;
  }
  
  .crop-buttons button {
    opacity: 0.7;
    background-color: #fff;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .crop-buttons button:hover {
    opacity: 1;
  }
  
  .placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 197, 197);
    @media(max-width: 767px){
      p , i {
        font-size: 10px !important;
        height: fit-content;
        line-height: 1;
        margin-top: 5px;
      }
    }
  }
  
  
  
  button {
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        transition: background-color 0.3s ease-in-out;
    }
    &.btn-save {
        background-color: #4f97fc !important;
        &:hover {
            background-color: #267ffa !important;
        }
    }
    &.btn-cancel {
        background-color: #f57c0b !important;
        &:hover {
            background-color: #fa8d27 !important;
        }
    }
  }
  
  
  
  
  
  
  
  // .input-general-container {
  //   position: relative;
  // }
  
  // .input-file-container {
  //   position: relative;
  //   cursor: pointer;
  //   border: 2px dashed #ccc;
  //   border-radius: 5px;
  //   padding: 1rem;
  //   text-align: center;
  //   transition: background-color 0.2s;
  //   height: 300px;
  // }
  
  // .image-preview {
  //   width: 100%;
  //   height: auto;
  //   display: block;
  // }
  
  // .overlay-buttons {
  //   position: absolute;
  //   bottom: 10px;
  //   right: 10px;
  //   display: flex;
  //   gap: 10px;
  // }
  
  // .overlay-buttons button {
  //   background-color: #fff;
  //   border: none;
  //   padding: 8px 12px;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   transition: opacity 0.3s;
  // }
  
  // .overlay-buttons button:hover {
  //   opacity: 1;
  // }
  
  // .crop-buttons {
  //   display: flex;
  //   gap: 10px;
  //   margin-top: 10px;
  // }
  
  // .crop-buttons button {
  //   opacity: 0.7;
  //   background-color: #fff;
  //   border: none;
  //   padding: 8px 12px;
  //   border-radius: 4px;
  //   cursor: pointer;
  //   transition: opacity 0.3s;
  // }
  
  // .crop-buttons button:hover {
  //   opacity: 1;
  // }
  
  // .input-file-container {
  //   .placeholder {
  //     height: 100%;
  //   }
  // }
  