.signature-container {
  position: relative;
}

.canvas-container {
    border: 1px solid #ccc;
    width: 100%;
    height: 200px; // Ajusta la altura deseada
    position: relative;
    &.saved {
      opacity: 0.5; 
      .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        i::before {
          font-size: 80px;
          background: #fcfcfcb4;
          border-radius: 50%;
          color: #0000003d;
        }
      }
    }
}
  
  .signature-canvas {
    width: 100%;
    height: 100%;
    touch-action: none; // Evita comportamientos por defecto en dispositivos táctiles
  }
  
  .signature-buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 10px;
    bottom: 10px;

  }
  

  button {
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.9;
    }
    &.btn-guardar {
      background-color: #4f97fc !important;
      &::before {

      }
    }
    &.btn-cancelar {
      background-color: #f57c0b;
    }
  }










