.btn-generar-creditos{
    position: relative;
    button{
        appearance: none;
        width: 100%;
        height: 43.78px;
        background: #1E2A38;
        padding: 11px 0px;
        color: white;
        border-radius: 6px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            background: #0056B3;
        }
    }
}

.btn-crear-creditos{
    button{
        appearance: none;
        width: 180px;
        height: 43.78px;
        background: #1E2A38;
        padding: 11px 0px;
        color: white;
        border-radius: 8px;
        border: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        &:hover{
            background: #0056B3;
        }
    }
}

.input-error, .input-error select{
    border: 1px solid red;
    background-color: #ffe6e6;
}
.input-error:not(.form-control){
    border: 1px solid transparent;
    --border-color: red;
}
.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.tabla-cronograma tbody tr:last-child{
    background: #1E2A38;
    --bs-table-color-state: white;
}

.tabla-cronograma {

    thead tr th , tbody tr td , tfoot tr td {
        @media (max-width: 500px){
        font-size: 8px !important;
        padding: 5px !important;
        }
    }

}


@media (max-width: 767px) {
  .datos-solicitud {
    width: 100%;
    margin-bottom: 1rem !important;

    [class^="col-md-"], [class*=" col-md-"] {
      width: 50% !important;
    }
  }
}