/* Tabs */
.nav-tabs .nav-link {
  border: none;
  border-radius: 0;
  transition: background-color 0.3s ease;
  @media(max-width: 767px){
    font-size: 10px !important;
    padding: 10px !important;
  }
}

.nav-tabs .nav-link.active {
  border: none;
}

.nav-item {
  width: 50%;
  text-align: center;
  button {
    width: 100%;
    border-bottom: 1px solid #f2f2f280;
    color: #1E2A38 !important;
    font-weight: 400;

    &.activo {
        border-bottom: 1px solid #1E2A38;
        color: #1E2A38 !important;
    }
  }
}

/* Tabla */
.table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  @media(max-width: 767px){
    border-radius: 5px !important;
  }
}

.table thead th {
  font-weight: 500;
  color: white !important
}

.table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.table tbody td {
  vertical-align: middle;
  padding: 0.75rem;
}


.table tbody tr:hover {
  background-color: rgba(30, 42, 56, 0.1);
}

/* Adaptaciones de color */
.bg-primary {
  background-color: #1E2A38 !important;
}

.bg-secondary {
  background-color: #808080 !important;
}


.bi {
  font-size: 1.2rem; /* Ajusta el tamaño del icono para mejor visibilidad */
}


.btn.btn-primary {
  background-color: #1E2A38 !important;
  &:hover {
    background-color: #4955639d !important;
  }
}


.container-buttons {
  display: flex;
  flex-direction: row !important;
  margin: 0px !important;
  column-gap: 20px;
  margin-top: 20px !important;
  & > div {
    width: fit-content;
    padding: 0px !important;
  }
}