
<div *ngIf="singleSolicitudCreditoData; else noData">
    <div class="section-container-title">
        <h3 class="title">Detalle de la Solicitud (Cod: {{singleSolicitudCreditoData.id}})</h3>
    </div>
    <div class="px-5">
        <app-general-tab-container  [type]="'top'" [tabs]="singleSolicitudCreditoTabs">
        <ng-template>
            <div class="section-container">
                <h4 class="subtitle mb-4">Datos Generales</h4>
                <form>
                    <div class="row mb-4">
                        <div class="col-md-3 text-start">
                            <label for="cliente" class="form-label">Cliente</label>
                            <input type="text" class="form-control" id="cliente" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="analista" class="form-label">Analista</label>
                            <input type="text" class="form-control" id="analista" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="deudaActiva" class="form-label">Deuda Activa</label>
                            <input type="text" class="form-control" id="deudaActiva" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="estado" class="form-label">Estado</label>
                            <input type="text" class="form-control" id="estado" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3 text-start">
                            <label for="montoAprobar" class="form-label">Monto a Aprobar</label>
                            <input type="text" class="form-control" id="montoAprobar" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="plazo" class="form-label">Plazo</label>
                            <input type="text" class="form-control" id="plazo" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="montoCuota" class="form-label">Monto Cuota</label>
                            <input type="text" class="form-control" id="montoCuota" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="modalidad" class="form-label">Modalidad</label>
                            <input type="text" class="form-control" id="modalidad" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-3 text-start">
                            <label for="destino" class="form-label">Destino</label>
                            <input type="text" class="form-control" id="destino" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="cobro" class="form-label">Cobro</label>
                            <input type="text" class="form-control" id="cobro" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="diaDesembolso" class="form-label">Día de Desembolso</label>
                            <input type="text" class="form-control" id="diaDesembolso" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-3 text-start">
                            <label for="primerPago" class="form-label">Primer Pago</label>
                            <input type="text" class="form-control" id="primerPago" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                    </div>


                    <div class="row mb-4">
                        <div class="col-md-2 text-start">
                            <label for="tem" class="form-label">TEM %</label>
                            <input type="text" class="form-control" id="tem" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-2 text-start">
                            <label for="ted" class="form-label">ted %</label>
                            <input type="text" class="form-control" id="ted" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-2 text-start">
                            <label for="tea" class="form-label">TEA %</label>
                            <input type="text" class="form-control" id="tea" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-2 text-start">
                            <label for="gAdminMensual" class="form-label">G.Admin mMensual</label>
                            <input type="text" class="form-control" id="gAdminMensual" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-2 text-start">
                            <label for="gAdminMensual" class="form-label">G.Admin Diario</label>
                            <input type="text" class="form-control" id="gAdminMensual" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                        <div class="col-md-2 text-start">
                            <label for="tnm" class="form-label">TNM %</label>
                            <input type="text" class="form-control" id="tnm" value="{{singleSolicitudCreditoData.usuario}}" readonly>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-2 text-start">
                            <button type="submit">GENERAR</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="section-container">
                <div class="row mb-4">
                    <div class="col-md-4 text-start d-flex gap-3">
                        <div class="d-flex align-items-center gap-1" >
                            <label class="fw-bold" for="conAval">Con Aval</label>
                            <input id="conAval" type="radio" class="form-radio" name="aval">
                        </div>
                        <div class="d-flex align-items-center gap-1" >
                            <label class="fw-bold" for="sinAval">Sin Aval</label>
                            <input id="sinAval" type="radio" class="form-radio" name="aval">
                        </div>
                    </div>
                    <div class="col-md-4 text-start d-flex gap-3 align-items-center">
                        <label class="fw-bold" for="buscarAval">Buscar Aval</label>
                        <app-general-search-box>
                        </app-general-search-box>

                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>N° Cuota</th>
                                    <th>N° Días</th>
                                    <th>Días Acum</th>
                                    <th>Fecha</th>
                                    <th>Capital</th>
                                    <th>Interes</th>
                                    <th>IGV</th>
                                    <th>G.Admin</th>
                                    <th>Cuota</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>12345</td>
                                    <td>67890</td>
                                    <td>ABC123</td>
                                    <td>XYZ456</td>
                                    <td>789012</td>
                                    <td>345</td>
                                    <td>12.34</td>
                                    <td>56.78</td>
                                    <td>90.12</td>
                                    <td>1000.00</td>
                                </tr>
                                <tr>
                                    <td>23456</td>
                                    <td>78901</td>
                                    <td>DEF456</td>
                                    <td>UVW789</td>
                                    <td>890123</td>
                                    <td>456</td>
                                    <td>23.45</td>
                                    <td>67.89</td>
                                    <td>01.23</td>
                                    <td>2000.00</td>
                                </tr>
                                <tr>
                                    <td>34567</td>
                                    <td>89012</td>
                                    <td>GHI789</td>
                                    <td>RST012</td>
                                    <td>901234</td>
                                    <td>567</td>
                                    <td>34.56</td>
                                    <td>78.90</td>
                                    <td>12.34</td>
                                    <td>3000.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        
        </ng-template>

        <ng-template >
            <div class="section-container-img-form row">
                <div class="section-container-img col-md-4" >
                    <div class="mb-4">
                        <p class="fw-bold">Anverso</p>
                        <input type="image" src="{{clienteData.imgDniAnverso}}" class="img-fluid rounded border" readonly>
                    </div>
                    <div>
                        <p class="fw-bold">Reverso</p>
                        <input type="image" src="{{clienteData.imgDniReverso}}" class="img-fluid rounded border" readonly>
                    </div>
                </div>
                <div class="section-container col-md-7">
                    <form>
                        <div class="row mb-3">
                            <div class="col-md-3 text-start">
                                <label for="apePaterno" class="form-label">Apellido Paterno:</label>
                                <input type="text" class="form-control" id="apePaterno" value="{{clienteData.apePaterno}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="apeMaterno" class="form-label">Apellido Materno</label>
                                <input type="text" class="form-control" id="apeMaterno" value="{{clienteData.apeMaterno}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="nombre" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="nombre" value="{{clienteData.nombre}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="tipoDoc" class="form-label">Tipo Documento</label>
                                <input type="text" class="form-control" id="tipoDoc" value="{{clienteData.tipoDoc}}" readonly>
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-md-3 text-start">
                                <label for="doc" class="form-label">Documento</label>
                                <input type="text" class="form-control" id="doc" value="{{clienteData.doc}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="genero" class="form-label">Género</label>
                                <input type="text" class="form-control" id="genero" value="{{clienteData.genero}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="estadoCivil" class="form-label">Estado Cívil</label>
                                <input type="text" class="form-control" id="estadoCivil" value="{{clienteData.estadoCivil}}" readonly>
                            </div>
                            <div class="col-md-3 text-start">
                                <label for="fechaNac" class="form-label">Fecha de Nacimiento</label>
                                <input type="text" class="form-control" id="fechaNac" value="{{clienteData.fechaNac}}" readonly>
                            </div>
                        </div>
        
                        <div class="row mb-3">
                            <div class="col-md-8 text-start">
                                <label for="lugarNac" class="form-label">Lugar de Nacimiento</label>
                                <input type="text" class="form-control" id="lugarNac" value="{{clienteData.lugarNac}}" readonly>
                            </div>
                            <div class="col-md-4 text-start">
                                <label for="estado" class="form-label">Estado</label>
                                <input type="text" class="form-control" id="estado" value="{{clienteData.estado}}" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>

        <ng-template>
            <div class="section-container row">
                <div class="col-md-6 d-flex flex-column justify-content-between" >
                    <h4 class="subtitle">Evaluación a Utilizar</h4>
                    <div class="d-flex gap-3"> <!-- Agregamos gap para el espaciado entre elementos -->
                        <div class="d-flex align-items-center gap-1" >
                            <label for="evaluacionNueva">Nueva</label>
                            <input id="evaluacionNueva" type="radio" class="form-radio" name="evaluacion">
                        </div>
                        <div class="d-flex align-items-center gap-1" >
                            <label for="evaluacionAnterior">Anterior</label>
                            <input id="evaluacionAnterior" type="radio" class="form-radio" name="evaluacion">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label fw-bold">Fecha de la Ultima Evaluación</label>
                    <span class="form-control">21/1024</span>
                </div>
            </div> 
            <div class="section-container">
                <table class="table table-bordered text-center">
                    <thead class="table-dark">
                        <tr>
                            <th>Descripción</th>
                            <th>Lunes</th>
                            <th>Martes</th>
                            <th>Miércoles</th>
                            <th>Jueves</th>
                            <th>Viernes</th>
                            <th>Sábado</th>
                            <th>Domingo</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary">
                            <th colspan="9" class="text-start">Ingresos</th>
                        </tr>
                        <tr>
                            <td>Ventas</td>
                            <td>10</td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                            <td>50</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <th>Total Ingresos</th>
                            <th>10</th>
                            <th>20</th>
                            <th>30</th>
                            <th>50</th>
                            <th>50</th>
                            <th>0</th>
                            <th>0</th>
                            <td></td>
                        </tr>
                        <tr class="table-secondary">
                            <th colspan="9" class="text-start">Egresos</th>
                        </tr>
                        <tr>
                            <td>Compras</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <td>Alquileres</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <td>Alimentación</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <td>Pasajes</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <td>Otros</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td><button class="btn btn-sm btn-secondary">EDITAR</button></td>
                        </tr>
                        <tr>
                            <th>Total Egresos</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </ng-template>

        <ng-template>
            <div class="section-container-title ">
                <h3 class="title">Lista de Central de Riesgo</h3>
              </div> 
              <div class="section-container">
              <app-general-table 
                [columns]="clienteRccColumns" 
                [data]="clienteRccData"  
                >
              </app-general-table>   
            </div>
        </ng-template>

        <ng-template>
            <div class="section-container">
                <h4 class="subtitle mb-2">Busqueda de Cliente</h4>

                <div class="row mb-5">
                    <div class="col-md-6">
                        <label for="cliente" class="form-label"></label>
                        <input id="cliente" type="text" class="form-control" value="{{clienteData.nombre}}" readonly>
                    </div>           
                    <div class="col-md-6">
                        <label for="documento" class="form-label"></label>
                        <input id="documento" type="text" class="form-control" value="{{clienteData.doc}}" readonly>
                    </div>       
                </div>

                <app-general-tab-container [tabs]="ficClientesTabs">
                    <ng-template >
                        <h5 class="mb-0">Lista de Domicilios</h5>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla1" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-domicilio'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                    
                    <ng-template>
                        <h5 class="mb-0">Lista de Negocios</h5>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla2" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-cliente'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                    
                    <ng-template>
                        <h5 class="mb-0">Lista de Contactos</h5>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla3" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-cliente'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                    <ng-template>
                        <h5 class="mb-0">Lista de Documentos</h5>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla4" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-cliente'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                    <ng-template>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla5" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-cliente'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                    <ng-template>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla6" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-cliente'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>

                </app-general-tab-container> 

                <div class="mb-5"></div>

                <app-general-tab-container [tabs]="ficClientesTabs2">
                    <ng-template >
                        <h5 class="mb-0">Busqueda de Clientes</h5>
                        <app-general-table 
                        [columns]="clienteRccColumns" 
                        [data]="clienteRccData" 
                        tableName="tabla1" 
                        >
                        </app-general-table>
                        <div class="d-flex justify-content-end align-items-center mt-0">
                            <app-general-plus-check-btn [tipo]="'plus'" [routerLink]="'./nuevo-domicilio'"></app-general-plus-check-btn>
                        </div>
                    </ng-template>
                </app-general-tab-container> 
            </div>

        </ng-template>
        
        </app-general-tab-container> 
    </div>

</div>





<ng-template #noData>
    <p>No se encontraron datos para esta Solicitud o Cliente.</p>
</ng-template>

    
    

  
  
  