<div *ngIf="singleParametroData; else noData" >
  <div class="section-container-title">
      <h3 class="title">{{ isEditing ? 'Editar Parametro : ' : 'Datos del Parametro: ' }} <span class="text-muted"> {{singleParametroData.Nombre}} (Cod {{singleParametroData.ID}}) </span></h3>
      <app-general-plus-check-btn
          tipo="edit-single"
          (editStateChanged)="isEditing = $event">
        </app-general-plus-check-btn>
    </div>
    <div *ngIf="!isEditing">
        <div class="section-container">
          <div class="row mb-4">
            <div class="col-md-4 text-start">
              <label class="form-label">Código</label>
              <input type="text" class="form-control" value="{{ singleParametroData.ID}}" readonly/>
            </div>

            <div class="col-md-4 text-start">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" value="{{ singleParametroData.Nombre }}" readonly/>
            </div>

            <div class="col-md-4 text-start">
              <label class="form-label">Descripcion</label>
              <input type="text" class="form-control" value="{{ singleParametroData.Descripcion }}" readonly/>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-4 text-start">
              <label class="form-label">Estado</label>
              <input type="text" class="form-control" value="{{ singleParametroData.Estado == 1 ? 'Activo' : 'Inactivo'}}" readonly/>
            </div>

            <div class="col-md-4 text-start">
              <label class="form-label ">Unidad de Medida</label>
              <input type="text" class="form-control" value="{{ singleParametroData.Unidad_Medida }}" readonly/>
            </div>

            <div class="col-md-4 text-start">
              <label class="form-label">Valor total</label>
              <input type="text" class="form-control" value="{{ singleParametroData.Valor }}" readonly/>
            </div>
          </div>
        </div>
    </div>

    <div *ngIf="isEditing">
        <form>
          <div class="section-container">
                <div class="row mb-4">
                  <div class="col-md-3">
                      <label for="nombre" class="form-label fw-bold">Nombre</label>
                      <input type="text" class="form-control" id="nombre" name="Nombre" [(ngModel)]="singleParametroData.Nombre">
                  </div>

                  <div class="col-md-3">
                      <label class="form-label fw-bold">Descripcion</label>
                      <input type="text" class="form-control" id="descripcion" name="Descripcion" [(ngModel)]="singleParametroData.Descripcion"/>
                  </div>

                  <!-- Tercera fila -->
                  <div class="col-md-3">
                      <label class="form-label fw-bold">Unidad de medida</label>
                      <input type="text" class="form-control" id="Unidad_Medida" name="Unidad_Medida" [(ngModel)]="singleParametroData.Unidad_Medida"/>
                  </div>

                  <div class="col-md-3">
                    <label class="form-label">Estado</label>
                    <div class="d-flex py-2 gap-3">
                        <app-general-plus-check-btn
                        tipo="toggle"
                        [currentValue]="singleParametroData?.Estado"
                        [onToggle]="updateEstado">
                        </app-general-plus-check-btn>
                        <span>
                            {{ singleParametroData.Estado == 1 ? 'Activo' : 'Inactivo'}}
                        </span>
                    </div>
                </div>
                </div>

                <div class="row mb-4">

                  <div class="col-md-3">
                      <label class="form-label fw-bold">Valor 1</label>
                      <input type="number" class="form-control" id="valor1" name="v_Valor1" [(ngModel)]="singleParametroData.Valor1"/>
                  </div>
                  <div class="col-md-3">
                      <label class="form-label fw-bold">Valor 2</label>
                      <input type="number" class="form-control" id="valor2" name="Valor3" [(ngModel)]="singleParametroData.Valor2"/>
                  </div>
                  <div class="col-md-3">
                      <label class="form-label fw-bold">Valor 3</label>
                      <input type="number" class="form-control" id="valor3" name="Valor3" [(ngModel)]="singleParametroData.Valor3"/>
                  </div>
                </div>
          </div>

          <div class="d-flex justify-content-end">
            <app-general-plus-check-btn
            tipo="check-form"
            [submitFn]="submitFn"
            [formData]="singleParametroData">
            </app-general-plus-check-btn>
          </div>
        </form>
    </div>
</div>

<ng-template #noData>
<p>No se encontraron datos para esta rol.</p>
</ng-template>



