
@media (max-width: 500px) {
    .btn-back{
        font-size: 8px !important;
        padding: 4px 15px !important;
        min-width: fit-content !important;
        height: fit-content !important;
    }
}