<div class="section-container-title">
    <h3 class="title">Nuevo Grupo de Datos</h3>
    <app-general-back-btn
    [tipo]="'cancel'">
  </app-general-back-btn>
</div>
  
<form [formGroup]="grupoDatosForm" class="form">
  <div class="section-container">
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="Nombre" onlyMayus>


      </div>
      <div class="col-md-6">
        <label class="form-label">Descripción</label>
        <input type="text" class="form-control" formControlName="Descripcion" onlyMayus>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <app-submit-form
      [form]="grupoDatosForm"
      [submitFn]="submitFn.bind(this)"
      label="Crear Grupo de Datos"
      [requiredFields]="[
      'Nombre',
      'Descripcion',
      ]"
      >
    </app-submit-form>
  </div>
</form>
