<div *ngIf="isLoading" class="spinner-container">
  <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <span class="spinner-border"></span>
  </div>
</div>

<div *ngIf="!isLoading">

  <div *ngIf="singleAccesoData; else noData">
    <div class="section-container-title d-flex justify-content-between align-items-center">
          <h3 class="title">{{ isEditing ? 'Editar Acceso : ' : 'Detalles del Acceso : ' }} <span class="text-muted"> {{singleAccesoData.Nombre}} (Cod {{singleAccesoData.id}}) </span></h3>
          <app-general-plus-check-btn 
          tipo="edit-single" 
          (editStateChanged)="isEditing = $event">
          </app-general-plus-check-btn>
    </div> 

    <div *ngIf="!isEditing">
      <div class="section-container">
            <div class="row mb-3">
              <div class="col-md-4">
                  <label class="form-label ">Nombre</label>
                  <input class="form-control" value="{{ singleAccesoData.Nombre }} " readonly />
              </div>
              <div class="col-md-4">
                  <label class="form-label ">Nombre Aplicación</label>
                  <input class="form-control"  value="{{ singleAccesoAplicacion.Nombre }} " readonly />
              </div>
              <div class="col-md-4">
                <label class="form-label ">Nombre Modulo</label>
                <input class="form-control" value="{{ singleAccesoModulo.Nombre }} " readonly />
            </div>

            </div>

            <div class="row mb-3">
              <div class="col-md-4">
                <label class="form-label ">Ruta</label>
                <input class="form-control" value="{{ singleAccesoData.Ruta }} " readonly />
            </div>
              <div class="col-md-4">
                  <label class="form-label ">Descripcion</label>
                  <input class="form-control" value="{{ singleAccesoData.Descripcion }} " readonly />
              </div>
              <div class="col-md-4">
                    <label class="form-label ">Icono</label>
                    <input class="form-control" value="{{ singleAccesoData.Icono }} " readonly />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                  <label class="form-label ">Estado</label>
                  <input class="form-control" value="{{ singleAccesoData.Estado == 1 ? 'Activo' : 'Inactivo'}}" readonly />
              </div>
            </div>
      </div>
    </div>

    <div  *ngIf="isEditing" >
      <form [formGroup]="accesoForm" class="form" enctype="multipart/form-data" >
        <div class="section-container">
          <div class="row mb-3">

            <div class="col-md-4">
              <label for="nombreModulo" class="form-label ">Nombre Aplicacion</label>
                <app-general-select-filter
                name="Aplicacion_ID"
                [service]="aplicacionService"
                method="getAplicaciones"
                fieldValue="ID"
                fieldContent="Nombre"
                formControlName="Aplicacion_ID">
                </app-general-select-filter>
            </div>

            <div class="col-md-4">
                  <label for="nombre" class="form-label ">Nombre</label>
                  <input class="form-control" id="nombre" formControlName="Nombre" />
            </div>

            <div class="col-md-4">
              <label for="ruta" class="form-label ">Ruta</label>
              <input class="form-control" id="ruta" formControlName="Ruta"  />
            </div>

          </div>

          <div class="row">
            <div class="col-md-4">
              <label for="icono" class="form-label ">Icono</label>
                <app-general-select-filter
                formControlName="Icono"
                [service]="iconService"
                method="getIconsAcceso"
                fieldValue="ID"
                fieldContent="Nombre"
                name="Icono">
              </app-general-select-filter>
            </div>

            <div class="col-md-4">
                <label for="descripcion" class="form-label ">Descripcion</label>
                <input class="form-control" id="descripcion" formControlName="Descripcion"  />
            </div>
            

            <div class="col-md-4 text-start">
                <label class="form-label">Estado</label>
                <div class="d-flex py-2 gap-2 align-items-center">
                    <app-general-plus-check-btn 
                    tipo="toggle" 
                    [currentValue]="accesoForm.get('Estado')?.value" 
                    [onToggle]="updateEstado">
                    </app-general-plus-check-btn>
                    <input type="hidden" formControlName="Estado">
                    <span>{{ accesoForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo' }}</span>
                </div>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <app-submit-form 
          [form]="accesoForm" 
          [submitFn]="submitFn.bind(this)" 
          label="Actualizar Empresa">
          </app-submit-form>
        </div>
      </form>
    </div>
  </div>

  <ng-template #noData>
  <p>No se encontraron datos para este Acceso.</p>
  </ng-template>

</div>