<div class="section-container-title">
  <h3 class="title">Nuevo Documento</h3>
  <app-general-back-btn [tipo]="'cancel'"></app-general-back-btn>
</div>

<form [formGroup]="documentoForm" class="form">
  <div class="section-container-img-form row">
    <div class="section-container-img col-md-4">
      <div class="contenedor-images">
        <div class="contenedor-image">
          <label>Documento:</label>
          <!-- Componente para la imagen en modo "new" -->
          <app-general-upload-input-img 
            type="new"
            (fileSelected)="onFileSelected($event, 'Documento_Anverso')">
          </app-general-upload-input-img>
        </div>
      </div>
    </div>
    <div class="section-container col-md-8">
      <!-- Campos de texto -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="Nombre" class="form-label">Nombre</label>
          <input type="text" id="Nombre" class="form-control" formControlName="Nombre" required>
        </div>
        <div class="col-md-4">
          <label for="Descripcion" class="form-label">Descripción</label>
          <input type="text" id="Descripcion" class="form-control" formControlName="Descripcion" required>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <!-- Componente SubmitForm para manejar la validación, envío, popup y redirección -->
    <app-submit-form 
      [form]="documentoForm" 
      [submitFn]="submitFn.bind(this)" 
      label="Crear Usuario">
    </app-submit-form>
  </div>
</form>
