<div *ngIf="simpleClienteData; else noData">

  <!-- Título y botón de edición solo si type es 'normal' -->
  <div class="section-container-title" *ngIf="type == 'normal'"> 
    <h3 class="title">
      Detalles del Cliente: {{ simpleClienteData.Nombres }} (Cod: {{ simpleClienteData.ID }})
    </h3>
    <ng-container *ngIf="type == 'normal'">
      <app-general-plus-check-btn
        tipo="edit-single"
        (editStateChanged)="isEditing = $event">
      </app-general-plus-check-btn>
    </ng-container>
  </div>

  <form *ngIf="clienteForm" [formGroup]="clienteForm" class="form" enctype="multipart/form-data">
    <div class="section-container-img-form row mb-5">
      <!-- Imágenes de Documento Anverso y Reverso -->
      <div class="section-container-img d-flex flex-row flex-wrap gap-3 justify-content-between bg-white">
        <div class="first-image flex-fill" style="max-width: 48%;">
          <div class="contenedor-image">
            <label class="form-label mb-0 fs-4 fw-regular">Anverso</label>
            <ng-container *ngIf="isEditing; else viewAnverso">
              <app-general-upload-input-img
                type="edit"
                [currentImage]="page_url + simpleClienteData.Documento_Anverso"
                [width]="'100%'"
                (fileSelected)="onFileSelected($event, 'Documento_Anverso')">
              </app-general-upload-input-img>
            </ng-container>
            <ng-template #viewAnverso>
              <img [src]="page_url + simpleClienteData.Documento_Anverso"
                   class="img-fluid rounded border w-100"
                   alt="Documento Anverso"
                   style="max-height: 300px; object-fit: cover;">
            </ng-template>
          </div>
        </div>

        <div class="second-image flex-fill" style="max-width: 48%;">
          <div class="contenedor-image">
            <label class="form-label mb-0 fs-4 fw-regular">Reverso</label>
            <ng-container *ngIf="isEditing; else viewReverso">
              <app-general-upload-input-img
                type="edit"
                [currentImage]="page_url + simpleClienteData.Documento_Reverso"
                [width]="'100%'"
                (fileSelected)="onFileSelected($event, 'Documento_Reverso')">
              </app-general-upload-input-img>
            </ng-container>
            <ng-template #viewReverso>
              <img [src]="page_url + simpleClienteData.Documento_Reverso"
                   class="img-fluid rounded border w-100"
                   alt="Documento Reverso"
                   style="max-height: 300px; object-fit: cover;">
            </ng-template>
          </div>
        </div>
      </div>



      <!-- Datos del cliente -->
      <div class="section-container">
        <div class="row mb-3 datos-container">
          <div class="col-md-4 text-start">
            <label class="form-label">Nombres</label>
            <input type="text" class="form-control" formControlName="Nombres" [readonly]="!isEditing">
          </div>
          <div class="col-md-4 text-start">
            <label class="form-label">Apellido Paterno</label>
            <input type="text" class="form-control" formControlName="Apellido_Paterno" [readonly]="!isEditing">
          </div>
          <div class="col-md-4 text-start">
            <label class="form-label">Apellido Materno</label>
            <input type="text" class="form-control" formControlName="Apellido_Materno" [readonly]="!isEditing">
          </div>

          <div class="col-md-6 text-start">
            <label class="form-label">Documento</label>
            <input type="text" class="form-control" formControlName="Documento" [readonly]="!isEditing">
          </div>
          <div class="col-md-6 text-start">
            <label class="form-label">Estado</label>
            <div class="d-flex justify-content-start align-items-center gap-2" *ngIf="isEditing; else viewEstado">
              <app-general-plus-check-btn
                tipo="toggle"
                [currentValue]="clienteForm.get('Estado')?.value"
                [onToggle]="updateEstado">
              </app-general-plus-check-btn>
              <input type="hidden" formControlName="Estado">
              <span>{{ clienteForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo' }}</span>
            </div>
            <ng-template #viewEstado>
              <input type="text"
                     class="form-control"
                     [value]="clienteForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo'"
                     readonly>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isEditing" class="d-flex justify-content-end mt-5">
      <app-submit-form
        [form]="clienteForm"
        [submitFn]="submitFn.bind(this)"
        label="Actualizar Cliente"
        [reload]="true">
      </app-submit-form>
    </div>
  </form>
</div>

<ng-template #noData>
  <p>No se encontraron datos para este Cliente.</p>
</ng-template>

