<div *ngIf="clienteNegocioData; else noData">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="subtitle mb-4">
      {{ isEditing ? 'Editar Negocio' : 'Datos del Negocio' }} : ( Cod: {{ clienteNegocioData.ID }} )
    </h4>
    <div class="d-flex gap-2">
      <button class="btn btn-primary" (click)="goBack()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <ng-container *ngIf="mode === 'edit'">
        <app-general-plus-check-btn 
          tipo="edit-single" 
          (editStateChanged)="isEditing = $event">
        </app-general-plus-check-btn>
      </ng-container>
    </div>
  </div>

  <form *ngIf="clienteNegocioForm" [formGroup]="clienteNegocioForm" class="form" enctype="multipart/form-data">
    <!-- Datos básicos del negocio -->
    <div class="section-container p-0 mb-0">

      <div class="row mb-3 datos-container" *ngIf="isEditing">
        <div class="col-md-12 text-start d-flex align-items-center gap-2" >
              <app-general-plus-check-btn 
                tipo="toggle" 
                [currentValue]="clienteNegocioForm.get('Principal')?.value" 
                [onToggle]="updatePrincipal">
              </app-general-plus-check-btn>
              <input type="hidden" formControlName="Principal">
              <span class="form-label mb-0">{{ clienteNegocioForm.get('Principal')?.value == 1 ? 'Principal' : 'No Principal' }}</span>
        </div> 
      </div> 

      <div class="row mb-3 datos-container">

        <div class="col-md-4">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="Nombre" [readonly]="!isEditing" onlyMayus>
        </div>
        <div class="col-md-4">
          <label class="form-label">RUC</label>
          <input type="text" class="form-control" formControlName="Ruc" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-4">
          <label class="form-label">CIIU</label>
          <input type="text" class="form-control" formControlName="CIIU" [readonly]="!isEditing" onlyNumbers>
        </div>

        <div class="col-md-3">
          <label class="form-label">Meses de Funcionamiento</label>
          <input type="text" class="form-control" formControlName="Meses_Funcionamiento" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-3">
          <label class="form-label">Tipo Local</label>
          <app-dynamic-select 
            formControlName="Tipo_Local"
            [groupId]="13"
            [valueField]="'ID'"
            [displayField]="'Nombre'"
            placeholder="Seleccionar"
            [editable]="isEditing">
          </app-dynamic-select>
        </div>
        <div class="col-md-3">
          <label class="form-label">Tipo Material</label>
          <app-dynamic-select 
            formControlName="Tipo_Material"
            [groupId]="14"
            [valueField]="'ID'"
            [displayField]="'Nombre'"
            placeholder="Seleccionar"
            [editable]="isEditing">
          </app-dynamic-select>
        </div>
        <div class="col-md-3">
          <label class="form-label">Giro</label>
          <app-general-input-giro-negocio formControlName="Giro" [editable]="isEditing">
          </app-general-input-giro-negocio>
        </div>

        <div class="col-md-3">
          <label class="form-label">Tipo Zona</label>
          <app-dynamic-select 
            formControlName="Tipo_Zona"
            [groupId]="12"
            [valueField]="'ID'"
            [displayField]="'Nombre'"
            placeholder="Seleccionar"
            [editable]="isEditing">
          </app-dynamic-select>
        </div>
        <div class="col-md-3">
          <label class="form-label">Zona</label>
          <input type="text" class="form-control" formControlName="Zona" [readonly]="!isEditing" onlyMayus>
        </div>
        <div class="col-md-3">
          <label class="form-label">Tipo Via</label>
          <app-dynamic-select 
            formControlName="Tipo_Via"
            [groupId]="11"
            [valueField]="'ID'"
            [displayField]="'Nombre'"
            placeholder="Seleccionar"
            [editable]="isEditing">
          </app-dynamic-select>
        </div>
        <div class="col-md-3">
          <label class="form-label">Via</label>
          <input type="text" class="form-control" formControlName="Via" [readonly]="!isEditing" onlyMayus>
        </div>

        <div class="col-md-12">
          <label class="form-label">Dirección</label>
          <input type="text" class="form-control" formControlName="Direccion" readonly onlyMayus>
        </div>

        <div class="col-md-2">
          <label class="form-label">Nro</label>
          <input type="number" class="form-control" formControlName="Nro" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-2">
          <label class="form-label">Dpto</label>
          <input type="number" class="form-control" formControlName="Dpto" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-2">
          <label class="form-label">Interior</label>
          <input type="text" class="form-control" formControlName="Interior" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-2">
          <label class="form-label">Bloque</label>
          <input type="number" class="form-control" formControlName="Bloque" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-1">
          <label class="form-label">MZ</label>
          <input type="text" class="form-control" formControlName="MZ" [readonly]="!isEditing" >
        </div>
        <div class="col-md-1">
          <label class="form-label">Lote</label>
          <input type="number" class="form-control" formControlName="Lote" [readonly]="!isEditing" onlyNumbers>
        </div>
        <div class="col-md-2">
          <label class="form-label">Etapa</label>
          <input type="text" class="form-control" formControlName="Etapa" [readonly]="!isEditing" onlyMayus>
        </div>

        <div class="col-md-2">
          <label class="form-label">Puesto</label>
          <input type="text" class="form-control" formControlName="Puesto" [readonly]="!isEditing" onlyMayus>
        </div>
        <div class="col-md-2">
          <label class="form-label">Referencia</label>
          <input type="text" class="form-control" formControlName="Referencia" [readonly]="!isEditing" onlyMayus>
        </div>
        <div class="col-md-2">
          <label class="form-label">Coordenada Y</label>
          <input type="text" class="form-control" formControlName="Coordenada_Y" [readonly]="!isEditing">
        </div>
        <div class="col-md-2">
          <label class="form-label">Coordenada X</label>
          <input type="text" class="form-control" formControlName="Coordenada_X" [readonly]="!isEditing">
        </div>
        <div class="col-md-4">
          <label class="form-label">Ubicación</label>
          <app-general-input-ubicacion formControlName="Ubicacion" [editable]="isEditing">
          </app-general-input-ubicacion>
        </div>

        <div class="col-md-2">
          <label class="form-label">Estado</label>
          <div class="d-flex py-2 align-items-center gap-2" *ngIf="isEditing; else viewEstado">
            <app-general-plus-check-btn 
              tipo="toggle" 
              [currentValue]="clienteNegocioForm.get('Estado')?.value" 
              [onToggle]="updateEstado">
            </app-general-plus-check-btn>
            <input type="hidden" formControlName="Estado">
            <span class="form-label mb-0">{{ clienteNegocioForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo' }}</span>
          </div>
          <ng-template #viewEstado>
            <input type="text" class="form-control"
                   [value]="clienteNegocioForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo'"
                   readonly>
          </ng-template>
        </div>
      </div>
    </div>


    <!-- Sección para imagen y mapa -->
    <div class="section-container p-0 mt-2">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <ng-container *ngIf="isEditing; else viewFotoNegocio">
            <app-general-upload-input-img
              type="edit"
              [currentImage]="page_url + clienteNegocioData.Foto_Negocio"
              [width]="'100%'"
              [height]="'100%'" 
              (fileSelected)="onFileSelected($event, 'Foto_Negocio')">
            </app-general-upload-input-img>
          </ng-container>
          <ng-template #viewFotoNegocio>
            <img [src]="page_url + clienteNegocioData.Foto_Negocio"
                 class="img-fluid rounded border"
                 alt="Foto Negocio"
                 style="max-height: 420px; object-fit: cover;">
          </ng-template>
        </div>
        <div class="col-md-6">
          <iframe width="600" height="450" style="border:0" class="iframe-maps"
                  [src]="mapUrl" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>




    




    <!-- Botón para enviar el formulario en modo edición -->
    <div *ngIf="mode=='edit' && isEditing" class="d-flex justify-content-end">
      <app-submit-form 
        [form]="clienteNegocioForm" 
        [submitFn]="submitFn.bind(this)" 
        label="Actualizar Negocio"
        [reload]="true">
      </app-submit-form>
    </div>
  </form>
</div>

<ng-template #noData>
  <p>No se encontraron datos para este Negocio.</p>
</ng-template>
