<div *ngIf="clienteFamiliarData; else noData" >
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="subtitle mb-4">{{ isEditing ? 'Editar Familiar' : 'Datos del Familiar' }} : ( Nombres: {{ clienteFamiliarData.Nombres }})</h4>
      <div class="d-flex gap-2">
        <button class="btn btn-primary" (click)="goBack()">
          <i class="bi bi-arrow-left"></i>
        </button>
        <ng-container *ngIf="mode === 'edit'">
          <app-general-plus-check-btn 
            tipo="edit-single" 
            (editStateChanged)="isEditing = $event">
          </app-general-plus-check-btn>
        </ng-container>
      </div>
    </div>

    <form *ngIf="clienteFamiliarForm" [formGroup]="clienteFamiliarForm" class="form" enctype="multipart/form-data" >
      <div class="section-container p-0 mb-0">
        <div class="row mb-3 datos-container">
            <div class="col-md-4">
              <label for="parentesco" class="form-label">Parentesco</label>
              <app-dynamic-select 
              formControlName="Parentesco"
              [groupId]="20"
              [valueField]="'ID'"
              [displayField]="'Nombre'"
              placeholder="Seleccionar"
              [editable]="isEditing"
              >
            </app-dynamic-select>
            </div>
            <div class="col-md-4">
              <label for="nombres" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="nombres" formControlName="Nombres" [readonly]="!isEditing" onlyMayus>
            </div>
            <div class="col-md-4">
              <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" id="apellidoPaterno" formControlName="Apellido_Paterno" [readonly]="!isEditing" onlyMayus>
            </div>
          
            <div class="col-md-4">
              <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" id="apellidoMaterno" formControlName="Apellido_Materno" [readonly]="!isEditing" onlyMayus>
            </div>
            <div class="col-md-4">
              <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
              <app-dynamic-select 
              formControlName="Tipo_Documento"
              [groupId]="4"
              [valueField]="'ID'"
              [displayField]="'Nombre'"
              placeholder="Seleccionar"
              [editable]="isEditing"
              >
            </app-dynamic-select>
            </div>
            <div class="col-md-4">
              <label for="nroDocumento" class="form-label">Número de Documento</label>
              <input 
              type="text"
              class="form-control"
              formControlName="Nro_Documento"
              maxlength="8"
              onlyNumbers
              [readonly]="!isEditing"
              >
            </div>
          
            <div class="col-md-4">
              <label for="genero" class="form-label">Género</label>
              <app-dynamic-select 
              formControlName="Genero"
              [groupId]="10"
              [valueField]="'ID'"
              [displayField]="'Nombre'"
              placeholder="Seleccionar"
              >
            </app-dynamic-select>
            
            </div>
            <div class="col-md-4">
              <label  class="form-label">Estado Civil</label>
          
                <app-dynamic-select 
                formControlName="Estado_Civil"
                [groupId]="9"
                [valueField]="'ID'"
                [displayField]="'Nombre'"
                placeholder="Seleccionar"
                [editable]="isEditing"
                >
              </app-dynamic-select>
      
            </div>
            <div class="col-md-4">
              <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="fechaNacimiento" formControlName="Fecha_Nacimiento" [readonly]="!isEditing">
            </div>
          
            <div class="col-md-6">
              <label for="lugarNacimiento" class="form-label">Lugar de Nacimiento</label>
              <app-general-input-ubicacion 
              formControlName="Lugar_Nacimiento"
              [editable]="isEditing"
              >
              </app-general-input-ubicacion>
            </div>
            <div class="col-md-6">
              <label for="telefono" class="form-label">Teléfono</label>
              <input 
              type="text"
              class="form-control"
              formControlName="Telefono"
              maxlength="9"
              onlyNumbers
              [readonly]="!isEditing"
              >
            </div>
          
      
            <div class="col-md-3 text-start">
              <label class="form-label">Estado</label>
              <div class="d-flex align-items-center gap-2" *ngIf="isEditing; else viewEstado">
                <app-general-plus-check-btn 
                  tipo="toggle" 
                  [currentValue]="clienteFamiliarForm.get('Estado')?.value" 
                  [onToggle]="updateEstado">
                </app-general-plus-check-btn>
                <input type="hidden" formControlName="Estado">
                <span class="form-label mb-0">{{ clienteFamiliarForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo' }}</span>
              </div>
              <ng-template #viewEstado>
                <input type="text"
                      class="form-control"
                      [value]="clienteFamiliarForm.get('Estado')?.value == 1 ? 'Activo' : 'Inactivo'"
                      readonly>
              </ng-template>
            </div>
      
        </div>
      </div>
    
    
      <div  *ngIf="mode == 'edit' && isEditing" class="d-flex justify-content-end">
        <app-submit-form 
        [form]="clienteFamiliarForm" 
        [submitFn]="submitFn.bind(this)" 
        label="Actualizar Familiar"
        [reload]="true">
        </app-submit-form>
      </div>
    </form>

</div>
<ng-template #noData>
<p>No se encontraron datos para este Familiar.</p>
</ng-template> 
