<div class="section-container-title">
  <h3 class="title">Nueva Aplicación</h3>
  <app-general-back-btn [tipo]="'cancel'"></app-general-back-btn>
</div>

<form [formGroup]="aplicacionForm" class="form"  >
  <div class="section-container">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="Nombre" class="form-label">Nombre</label>
        <input 
          type="text" 
          id="Nombre" 
          class="form-control" 
          formControlName="Nombre" 
          name="Nombre">
      </div>
      <div class="col-md-6">
        <label for="Descripcion" class="form-label">Descripción</label>
        <input 
          type="text" 
          id="Descripcion" 
          class="form-control" 
          formControlName="Descripcion" 
          name="Descripcion">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="Ruta" class="form-label">Ruta</label>
        <input 
          type="text" 
          id="Ruta" 
          class="form-control" 
          formControlName="Ruta" 
          name="Ruta">
      </div>
      <div class="col-md-6">
        <label for="icono" class="form-label ">Icono</label>
          <app-general-select-filter
          formControlName="Icono"
          [service]="iconService"
          method="getIcons"
          fieldValue="ID"
          fieldContent="Nombre"
          name="Icono">
        </app-general-select-filter>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-end align-items-center mt-5">
    <app-submit-form
      [form]="aplicacionForm"
      [submitFn]="submitFn.bind(this)"
      label="Crear Empresa">
    </app-submit-form>
  </div>
</form>
